.profile {
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile__container {
  width: 1140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 70px 0;
}

.profile__info {
  width: 25%;
  height: 280px;
  background-color: #21479ae3;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.profile__avatar {
  margin: 35px 0 20px;
  width: 165px;
  height: 165px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid;
}

.profile__name {
  color: #fff;
  font-size: 19px;
}

.profile__signout-button {
  position: absolute;
  background-color: transparent;
  border: none;
  color: rgba(238, 52, 101, 1);
  bottom: -40px;
}

.profile__main {
  width: calc(72% - 150px);
  border: 1px solid #ccd3db;
  border-radius: 30px;
  padding: 50px 75px;
  display: flex;
  flex-direction: column;
}

.profile__tab-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 0.5px solid #ccd3db;
}

.profile__tab {
  font-size: 18px;
  width: 50%;
  text-align: center;
  padding-bottom: 22px;
  color: #666c77;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

.profile__tab_active {
  border-bottom: 3px solid #919496;
  color: #181818;
}

.profile__content-box {
  width: 100%;
}

.profile__content_personal {
  display: flex;
  flex-direction: column;
}

.profile__content-item {
  display: flex;
  flex-direction: column;
}

.profile__label {
  margin: 0 0 10px;
}

.profile__input {
  width: calc(60% - 20px);
  padding: 5px 10px;
  border-radius: 10px;
  border-color: #cdcdcd;
  border-style: solid;
  border-width: 2px;
  height: 30px;
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 30px;
}

.profile__input:focus {
  transition: .3s ease-in-out;
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.profile__content_orders {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 20px;
}

.profile__order {
  padding: 20px;
  border: 1px solid #f0f6fd;
  border-radius: 20px;
  box-shadow: 0 10px 30px 0 rgba(222, 230, 237, .6);
  display: flex;
  flex-direction: column;
  /* border-spacing: 20px; */
}

.profile__order-image {
  margin: 0 auto 15px;
}