.header {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid #cdcdcd;
}

.header__container {
  width: 1140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 70px;
  align-items: center;
}

.header__logo {
  height: 40px;
  width: 109px;
  background-image: url('../../images/logo_with_text.png');
  background-size: cover;
}

.header__login-button {
  text-decoration: none;
  text-align: center;
  line-height: 39px;
  color: #fff;
  background-color: #478ac9;
  height: 40px;
  width: 95px;
  border: none;
  border-radius: 50px;
}