.benefit {
  height: 580px;
  display: flex;
  justify-content: center;
}

.benefit__container {
  width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px 0 60px;
}

.benefit__title {
  font-size: 48px;
  margin-bottom: 25px;
}

.benefit__columns {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 354px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-gap: 10px;
}

.benefit__item {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
}

.benefit__icon {
  height: 60px;
  width: 60px;
  background-image: none;
  margin: 6px auto 0;
  padding: 20px;
  background-color: #21489a;
  border-radius: 50%;
}

.benefit__img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.benefit__subtitle {
  margin: 32px 0 26px;
  font-size: 24px;
}

.benefit__description {
  font-size: 18px;
  text-align: center;
}