.header__navigation {
  display: flex;
  justify-content: center;
  width: 290px;
  height: 32px;
  margin: auto 0;
}

.header__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto 0;
  width: 100%;
}

.header__link {
  text-decoration: none;
  height: 18px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.519);
  background-color: transparent;
}

.header__link:hover {
  color: rgba(0, 0, 0, 0.711);
}

.header__link_active {
  color: rgb(0, 0, 0);
}

.header__nav-tab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto 0;
  width: 500px;
}

@media screen and (max-width: 700px) {
  .header__nav-tab {
    width: 250px;
  }
}

@media screen and (max-width: 360px) {
  .header__nav-tab {
    width: 150px;
  }
}