.login {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(45deg, #21489a, #e5e5e5);
  display: flex;
  justify-content: center;
}

.login__container {
  width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__box {
  padding: 10px 0;
  height: auto;
  width: 500px;
  border-radius: 50px;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.login__button-back {
  position: absolute;
  left: -50px;
  height: 35px;
  width: 35px;
  background-image: url(../../images/button-back.png);
  background-size: cover;
  color: #00f635;
}

.login__img {
  background-image: url(../../images/logo.png);
  background-size: cover;
  height: 45px;
  width: 135px;
  margin: 20px 0 0;
}

.login__title {
  margin: 10px 0 20px;
}

.login__form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.login__label {
  margin-bottom: 4px;
  font-size: 14px;
  padding-left: 10px;
}

.login__input {
  width: calc(100% - 20px);
  padding: 5px 10px;
  border-radius: 15px;
  border-color: #cdcdcd;
  border-style: solid;
  border-width: 2px;
  height: 25px;
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 8px;
}

.login__input:nth-child(4) {
  margin-bottom: 20px;
}

.login__input:focus {
  transition: .3s ease-in-out;
  /* font-size: 17px; */
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.login__submit-button {
  background-color: #21479acf;
  color: #ffffff;
  width: 100%;
  border-style: none;
  background-image: none;
  padding: 10px 0;
  height: 45px;
  border-radius: 50px;
  font-size: 17px;
}

.login__versus {
  text-align: center;
  margin: 10px 0;
  font-weight: 600;
  color: #212529;
}

.login__link {
  width: calc(100%);
  height: 25px;
  border-radius: 45px;
  margin: 0 0 15px;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #0074e8;
  font-size: 17px;
  line-height: 25px;
}

.login__login-text {
  margin: 5px 0 25px;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;  
  text-align: center;
  color: rgba(160, 160, 160, 1);
  transition: .2s ease;
}

.login__login-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  color: #478ac9;
  margin-left: 6px;
  transition: .2s ease;
}